body{
  background-image: url("../src/assets/sunflower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
a{
  color: darkorange;
}